* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    background-color: white;
}

.div-center {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    display: inline;
    padding: 8px;  
}

.image {
    height: 100%;
    width: 400px;
}

a:link {
    color: rgb(2, 134, 250);
}

a:visited {
    color: rgb(2, 134, 250);
}

a:hover {
    color: black;
}